name: "build-test"
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: |
        yarn
        yarn all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./
      id: short-sha
      with: 
        length: 6
    - name: validate output
      run: | 
        echo $SHA;
        [ ${#SHA} -eq 6 ] && exit 0 || exit 1;
      env:
        SHA: ${{ steps.short-sha.outputs.sha }}
